<h2 class="page-header">Dashboard</h2>
<br>
<div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Upload a picture of your tattoo</h3>
        </div>
        <div class="panel-body">
          <form method="POST" action="/api/posts">
            <input type="file" class="form-control" name="image">
            <textarea class="form-control" placeholder="Short Description" name="caption"></textarea>
            <div class="form-control" id="tags">
                <input type="text" id="tags" value="" placeholder="Add a tag" name="tags">
            </div>
            <button class="btn btn-primary" id="addPost">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="list-group">
        <a href="#" class="list-group-item" v-for="item in items">
          <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-tag"></i> {{ item.name }}
          <button class="btn btn-primary btn-circle price" v-if="item.price">${{item.price}}</button></h4>
          <h5><i class="glyphicon glyphicon-calendar" v-if="item.date"></i> {{ item.date }}</h5>
          <p class="list-group-item-text" v-if="item.description">{{ item.description }}</p>
          <h4 class="list-group-item-text" v-if="item.quantity"><strong>{{ item.quantity }} available units</strong></h4>
          <button class="btn btn-xs btn-danger" v-on:click="deleteItem($index)">Delete</button>
        </a>
      </div>
    </div>
  </div>
