
{{#each Posts}}
    <div class="col-md-4 col-md-offset-2">
      <img class="img-responsive" id="post-image" src="{{image}}" alt="{{post.caption}}">
    </div>
{{/each}}

	<div class="col-md-5">
		<div class="panel panel-default" id="post-details">

			<div>Author: {{post.User.email}}</div>
			<div>Description: {{post.caption}}</div>
			<div>Likes: {{post.likes}}</div>
			<div>Tags: {{#each post.tags}} {{tag}}, {{/each}}</div>
		</div>
		<div class="panel panel-default" id="comments-sect">
			<div class="comments">
				<h3>Comments</h3>
				{{#if post.Comments}}
				{{#each post.Comments}}
					<p><span id="uName"></span><span id="uID">{{this.id}}</span> said: {{this.text}}</p>
				{{/each}}
				{{/if}}
			</div>

			<div class="model" id="new-comment">
				<form class="model-form" action="/api/comments" method="POST">
					<input type="text" placeholder="Enter comment here" id="c1"name="new_comment">
					<input type="submit" value="Submit">
				</form>
			</div> 

		</div>
	</div>
