
    <div class="col-md-4 col-md-offset-2">
      <img class="img-responsive" id="post-image" src="{{post.image}}" alt="{{post.caption}}">
    </div>
	<div class="col-md-5">
		<div class="panel panel-default" id="post-details">

			<div>Author: {{post.User.email}}</div>
			<div>Description: {{post.caption}}</div>
			<div>Likes: {{post.likes}}</div>
			<div>Tags: {{#each post.tags}} {{tag}}, {{/each}}</div>
		</div>
		<div class="panel panel-default" id="comments-sect">
			<div class="comments">
			<h3>Comments</h3>
			{{#if post.Comments}}
			{{#each post.Comments}}
				<p>User#{{this.id}} said: {{this.text}}</p>
			{{/each}}
			{{/if}}
			</div>
		
		</div>
	</div>	
