<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Tattoo Zone</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
               <li role="presentation"><a href="/dashboard">Dashboard</a></li>
               <li role="presentation"><a href="/logout">Logout</a></li>
            {{else}}
               <li role="presentation"><a href="/signin">Login</a></li>
               <li role="presentation"><a href="/signup">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Tattoo-Zone</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
           {{#if success_msg}}
              <div class="alert alert-sucess">{{sucess_msg}}</div>
            {{/if}}
            {{#if error_msg}}
               <div class="alert alert-danger">{{error_msg}}</div>
             {{/if}}
             {{#if error}}
               <div class="alert alert-danger">{{error}}</div>
             {{/if}}
          {{{body}}}
        </div>

      <footer class="footer">
        <p>&copy;2017 Tattoo-Zone</p>
      </footer>

    </div> <!-- /container -->
   </body>
</html>
