<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Tattoo Zone</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </head>
   <body>
     <nav class="navbar navbar-default">
       <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon glyphicon-tags"></i> Tattoo-Zone</a>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/aboutus">About Us</a></li>
        {{#if user}}
           <li role="presentation"><a href="/dashboard">Dashboard</a></li>
           <li role="presentation"><a href="/logout">Logout</a></li>
        {{else}}
           <li role="presentation"><a href="/signin">Login</a></li>
           <li role="presentation"><a href="/signup">Register</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
      <div class="container">
         <div class="row">
           {{#if success_msg}}
              <div class="alert alert-sucess">{{sucess_msg}}</div>
            {{/if}}
            {{#if error_msg}}
               <div class="alert alert-danger">{{error_msg}}</div>
             {{/if}}
             {{#if error}}
               <div class="alert alert-danger">{{error}}</div>
             {{/if}}
          {{{body}}}
        </div>
     </div> <!-- /container -->

     <!-- Footer -->

      <div class="container-fluid">
        <div class="row">
             <footer id="footer">
     <ul class="icons">
       <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
       <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
       <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
       <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
       <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
     </ul>
     <ul class="copyright">
       <li>&copy; <a href="/">Tattoo-Zone</a></li><li>Design: GWCB Team 5</li>
     </ul>
        </footer>
   </div>
  </div>


   </body>
</html>
